sympy
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.6
contextvars==2.4
ffmpeg==1.4
ffmpeg-python==0.2.0
future==0.18.2
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.10.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
immutables==0.16
numpy==1.19.5
opencv-python==4.5.3.56
Pillow==8.3.2
pytesseract==0.3.8
requests==2.26.0
rfc3986==1.5.0
sniffio==1.2.0
typing-extensions==3.10.0.2
urllib3==1.26.7
